.mapData {
  height: 500px;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.mapData .leaflet-container {
  height: 100%;
  border-radius: 12px;
}

.info-flag img {
  width: 100px;
  border-radius: 5px;
}

.info-name {
  font-size: 20px;
  font-weight: bold;
  color: #555;
}

.info-container {
  width: 150px;
}

.info-flag {
  height: 80px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
}
.map__country__name {
  color: #033d94;
  font-weight: 700;
  font-size: 15px;
}
.map__total_case,
.map__total_recoverd,
.map__total_deaths {
  font-size: 11px !important;
}
.map__total_deaths {
  color: #cc1034;
}
.map__total_recoverd {
  color: #009e22;
}
.map__total_case {
  color: #033d94;
}
