body {
  background-color: #f5f5f5;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  margin-bottom: 20px;
  height: 40px;
}
.header__dropdown {
  background: white;
}
.header__title {
  font-size: 20px;
  letter-spacing: 2px;
  color: #ff0d0d;
}
.header__dropdown {
  width: 100%;
}
.MuiSelect-selectMenu {
  padding: 8px 50px 8px 10px !important;
  font-size: 12px !important;
}
.databox__wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 320px) and (max-width: 600px) {
  /* CSS */
  .header__title {
    margin-top: 50px;
    text-align: center;
  }
  .databox__wrapper {
    margin-top: 60px;
  }
}
